<div class="page-header">
  <h1>Update Password</h1>
</div>

<% if @user.errors.any? %>
  <ul class="list-unstyled text-danger">
    <% @user.errors.full_messages.each do |msg| %>
      <li><strong><%= msg %></strong></li>
    <% end %>
  </ul>
<% end %>

<%= form_tag "/update_password", :method => "patch" do %>
  
  <p>
    <%= label_tag :current_password, "Current Password" %>
    <%= password_field_tag :current_password %>
  </p>
  
  <p>
    <%= label_tag :password, "New Password" %>
    <%= password_field_tag :password %>
  </p>

  <p>
    <%= label_tag :password_confirmation, "New Password Again" %>
    <%= password_field_tag :password_confirmation %>
  </p>

  <%= submit_tag "Update", class: "btn btn-success"%>

<% end %>
