<head>
  <%= stylesheet_link_tag 'venues', media: 'all', 'data-turbolinks-track' => true %>
</head>

<div class="col-xs-12">

  <div id = "header" class = "col-xs-12 center">
    <div id="header-background">
      <h1>Your account</h1>
    </div>
  </div>

  <div class="col-xs-4"></div>

  <div class="col-xs-8">
    <p>
      <strong> First Name:</strong> <%= @user.fname %>
    </p>

    <p>
      <strong> Last Name:</strong> <%= @user.lname %>
    </p>

    <p>
      <strong>Email Address:</strong> <%= @user.email %>
    </p>
  </div>

  <div class="col-xs-12 center">
    <%= link_to "Edit", edit_user_path(@user.id), class: 'btn btn-md btn-success' %>
  </div>
  
</div>

