<head>
  <%= stylesheet_link_tag    'venues', media: 'all', 'data-turbolinks-track' => true %>
</head>

<h2><%=@venue.name%></h2>

<% if @venue.errors.any? %>
  <ul class="list-unstyled text-danger">
    <% @venue.errors.full_messages.each do |msg| %>
      <li><strong><%= msg %></strong></li>
    <% end %>
  </ul>
<% end %>

<%= form_tag "/venues/#{@venue.id}", :method => "patch" do %>

  <div class="form-format">
    <%= label_tag :name %>
    <%= text_field(:venue, :name) %>
  </div>

  <div class="form-format">
    <%= label_tag :address1, "Address Line 1" %>
    <%= text_field(:venue, :address1) %>
  </div>

  <div class="form-format">
    <%= label_tag :address2, "Address Line 2" %>
    <%= text_field(:venue, :address2) %>
  </div>

  <div class="form-format">
    <%= label_tag :city %>
    <%= text_field(:venue, :city) %>
  </div>

  <div class="form-format">
    <%= label_tag :neighborhood %>
    <%= text_field(:venue, :neighborhood) %>
  </div>

  <div class="form-format">
    <%= label_tag :state %>
    <%= text_field(:venue, :state) %>
  </div>

  <div class="form-format">
    <%= label_tag :zipcode %>
    <%= text_field(:venue, :zipcode) %>
  </div>

  <div class="form-format">
    <%= label_tag :cuisine %>
    <%= text_field(:venue, :cuisine) %>
  </div>

  <div class="form-format radio">
    <label><b>Reservations:</b></label>
    <div>
    <div class="col-xs-2">
    	Yes
    	<%= radio_button_tag(:reservations, "yes", html:"class:reservations") %>
    </div>
    <div>
    	No
    	<%= radio_button_tag(:reservations, "no") %>
  	</div>
	</div>
  </div>

  <div class="form-format">
    <%= label_tag :desc, "Why is this a good place for big groups?" %>
    <%= text_area(:venue, :desc, size: "40x5") %>
  </div>

  <div class="form-format">
    <%= label_tag :url, "Website URL" %>
    <%= text_field(:venue, :url) %>
  </div>

  <% if @photo.errors.any? %>
    <ul class="list-unstyled text-danger">
      <% @venue.errors.full_messages.each do |msg| %>
        <li><strong><%= msg %></strong></li>
      <% end %>
    </ul>
  <% end %>

  <div class="form-format">
    <%= label_tag :desc, "Please enter at least one URL with a comma between each" %>
    <% photo_urls = ""
    	@venue.photos.each do |photo|
    		photo_urls += photo.url
    		photo_urls += ','
    	end
    	photo_urls = photo_urls[0..-2] %>

    <%= text_area_tag(:photo_urls, photo_urls, size: "40x5"	) %>
  </div>

  <%=submit_tag "Update", class: "btn btn-success edit-btn"%>

<% end %>