<head>
  <%= stylesheet_link_tag    'venues', media: 'all', 'data-turbolinks-track' => true %>
</head>

<div id = "header" class = "col-xs-12 center">
	<div id="header-background">
		<h1>The best restaurants and bars for </br> big groups curated by you</h1>
	</div>
</div>

<div id="new-button" class="col-md-12 center">
  <% if session[:user_id] %>
    <a class="btn btn-warning" href="/venues/new">Add a New Place</a>
  <% else %>
  <h3>Log In to Save or Add Places!</h3>    
  <div>
    <a class="btn btn-success" href="/users/new">Sign Up</a>
    <a class="btn btn-warning" href="/sessions/new">Sign In</a>
  </div>
  <% end %>
</div>

<table class='table table-striped'>
  <thead>
    <tr>
      <th width="20%">Name</th>
      <th>City</th>
      <th width="20%">Neighborhood</th>
      <th>Cuisine</th>
      <th>Likes</th>
      <th></th>
      <th></th>
    </tr>
  <tbody>
    <% @venues.each do |venue| %>
      <tr>
        <td><%= link_to venue.name, "/venues/#{venue.id}" %></td>
        <td><%= venue.city %></td>
        <td><%= venue.neighborhood %></td>
        <td><%= venue.cuisine %></td>
        <td><%= venue.likes.count %></td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div style="float:right">
  <%= paginate @venues %>
</div>