<head>
  <%= stylesheet_link_tag    'venues', media: 'all', 'data-turbolinks-track' => true %>
</head>

<div id = "header" class = "col-xs-12 center">
	<div id="header-background">
		<h1>The best restaurants and bars for </br> big groups curated by you</h1>
	</div>
</div>

<div id="new-button" class="col-md-12 center">
  <% if session[:user_id] %>
    <a class="btn btn-warning" href="/venues/new">Add a New Place</a>
  <% else %>
  <h3>Log in to save or add places.</h3>    
  <div>
    <a class="btn btn-success" href="/users/new">Sign Up</a>
    <a class="btn btn-warning" href="/sessions/new">Sign In</a>
  </div>
  <% end %>
</div>

<table class='table table-striped'>
  <thead>
    <tr>
      <th style="width:130px"></th>
      <th>Name</th>
      <th>City</th>
      <th>Neighborhood</th>
      <th>Cuisine</th>
      <th>Likes</th>
      <% if @user %>
        <th></th>
        <th><th>
      <% end %>
    </tr>
  <tbody>
    <% @venues.each do |venue| %>
      <tr>
        <% if venue.photos.first %>
          <td><img src="<%=venue.photos.first.url%>"></td>
        <% else %>
          <td><img src="http://slapgaard.no/smarttable/webroot/img/default-food.gif"</td>
        <% end %>
        <td><%= link_to venue.name, "/venues/#{venue.id}" %></td>
        <td><%= venue.city %></td>
        <td><%= venue.neighborhood %></td>
        <td><%= venue.cuisine %></td>
        <td><%= venue.likes.count %></td>
        <% if @user %>
          <td>
            <% if @likes.where(:venue_id => venue.id).count > 0 %>
              <%= link_to "", "/likes/#{venue.id}", :method => "delete", :class => "glyphicon glyphicon-heart btn btn-danger"%>
            <% else %>
              <%= link_to "", likes_path(:id => venue.id), :method => "post", :class => "glyphicon glyphicon-heart-empty btn btn-default"%>
            <% end %>
        </td>
        <td>
            <% if @saves.where(:venue_id => venue.id).count > 0 %>
              <%= link_to "", "/holds/#{venue.id}", :method => "delete", :class => "glyphicon glyphicon-saved btn btn-primary"%>
            <% else %>
              <%= link_to "", holds_path(:id => venue.id), :method => "post", :class => "glyphicon glyphicon-ok btn btn-default"%>
            <% end %>
        </td>
      <% end %>  
      </tr>
    <% end %>
  </tbody>
</table>

<div style="float:right">
  <%= paginate @venues %>
</div>