<head>
  <%= stylesheet_link_tag    'venues', media: 'all', 'data-turbolinks-track' => true %>
</head>

<div id = "my-header" class = "col-xs-12 center">
	<div id="header-background">
		<h1>Places you've recommended</h1>
	</div>
</div>

<% if @venues.count > 0 %>
  <div id="new-button" class="col-md-12 center">
     <a class="btn btn-warning" href="/venues/new">Add a New Place</a>
  </div>

  <table class='table table-striped'>
    <thead>
      <tr>
        <th style="width:130px"></th>
        <th>Submitted</th>
        <th>Name</th>
        <th>City</th>
        <th>Neighborhood</th>
        <th>Cuisine</th>
        <th>Likes</th>
        <th></th>
        <th></th>
      </tr>
    <tbody>
      <% @venues.each do |venue| %>
        <tr>
          <% if venue.photos.first %>
            <td><img src="<%=venue.photos.first.url%>"></td>
          <% else %>
            <td><img src="http://slapgaard.no/smarttable/webroot/img/default-food.gif"</td>
          <% end %>
          <td><%= venue.created_at.to_date %></td>
          <td><%= link_to venue.name, "/venues/#{venue.id}" %></td>
          <td><%= venue.city %></td>
          <td><%= venue.neighborhood %></td>
          <td><%= venue.cuisine %></td>
          <td><%= venue.likes.count %></td>
          <td><%= link_to "Delete", "/venues/#{venue.id}", :method => "delete", data: {confirm: "Are you sure?"} %></td>
          <td><%= link_to "Edit", "/venues/#{venue.id}/edit" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div style="float:right">
    <%= paginate @venues %>
  </div>

<% else %>

  <div class="center">
    <h4>You haven't submitted any venues yet.</h4>
  </div>

  <div id="new-button" class="col-md-12 center">
     <a class="btn btn-warning" href="/venues/new">Add a New Place</a>
  </div>

<% end %>