<head>
  <%= stylesheet_link_tag    'venues', media: 'all', 'data-turbolinks-track' => true %>
</head>

<h2>Add a Restaurant or Bar</h2>

<% if @venue.errors.any? %>
  <ul class="list-unstyled text-danger">
    <% @venue.errors.full_messages.each do |msg| %>
      <li><strong><%= msg %></strong></li>
    <% end %>
  </ul>
<% end %>

<%= form_tag venues_path do %>

  <div class="form-format">
    <%= label_tag :name, "Name *" %>
    <%= text_field_tag(:name) %>
  </div>

  <div class="form-format">
    <%= label_tag :address1, "Address Line 1" %>
    <%= text_field_tag(:address1) %>
  </div>

  <div class="form-format">
    <%= label_tag :address2, "Address Line 2" %>
    <%= text_field_tag(:address2) %>
  </div>

  <div class="form-format">
    <%= label_tag :city, "City *" %>
    <%= text_field_tag(:city) %>
  </div>

  <div class="form-format">
    <%= label_tag :neighborhood %>
    <%= text_field_tag(:neighborhood) %>
  </div>

  <div class="form-format">
    <%= label_tag :state %>
    <%= text_field_tag(:state) %>
  </div>

  <div class="form-format">
    <%= label_tag :zipcode %>
    <%= text_field_tag(:zipcode) %>
  </div>

  <div class="form-format">
    <%= label_tag :cuisine %>
    <%= text_field_tag(:cuisine) %>
  </div>

  <div class="form-format radio">
    <label><b>Reservations:</b></label>
    <div>
    <div class="col-xs-2">
    	Yes
    	<%= radio_button_tag(:reservations, "yes", html:"class:reservations") %>
    </div>
    <div>
    	No
    	<%= radio_button_tag(:reservations, "no") %>
  	</div>
	</div>
  </div>

  <div class="form-format">
    <%= label_tag :desc, "Why is this place good for big groups? *" %>
    <%= text_area_tag(:desc, nil, size: "40x5") %>
  </div>

  <div class="form-format">
    <%= label_tag :url, "Website URL" %>
    <%= text_field_tag(:url) %>
  </div>

  <% if @photo.errors.any? %>
    <ul class="list-unstyled text-danger">
      <% @venue.errors.full_messages.each do |msg| %>
        <li><strong><%= msg %></strong></li>
      <% end %>
    </ul>
  <% end %>

  <div class="form-format">
    <%= label_tag :photo_urls, "Photo URL(s): Please enter at least one URL with a comma between each" %>
    <%= text_area_tag(:photo_urls, nil, size: "40x5"	) %>
  </div>

  <%=submit_tag "Submit", class: "btn btn-success edit-btn"%>

<% end %>