<head>
  <%= stylesheet_link_tag    'venues', media: 'all', 'data-turbolinks-track' => true %>
</head>

<h2>Add a Restaurant or Bar</h2>

<% if @venue.errors.any? %>
  <ul class="list-unstyled text-danger">
    <% @venue.errors.full_messages.each do |msg| %>
      <li><strong><%= msg %></strong></li>
    <% end %>
  </ul>
<% end %>

<%= form_tag "/venues" do %>

  <div class="form-format">
    <label>Name:</label>
    <%= text_field_tag(:name) %>
  </div>

  <div class="form-format">
    <label>Address Line 1:</label>
    <%= text_field_tag(:address1) %>
  </div>

  <div class="form-format">
    <label>Address Line 2:</label>
    <%= text_field_tag(:address2) %>
  </div>

  <div class="form-format">
    <label>City:</label>
    <%= text_field_tag(:city) %>
  </div>

  <div class="form-format">
    <label>Neighborhood:</label>
    <%= text_field_tag(:neighborhood) %>
  </div>

  <div class="form-format">
    <label>State:</label>
    <%= text_field_tag(:state) %>
  </div>

  <div class="form-format">
    <label>Zip Code:</label>
    <%= text_field_tag(:zipcode) %>
  </div>

  <div class="form-format">
    <label>Cuisine:</label>
    <%= text_field_tag(:cuisine) %>
  </div>

  <div class="form-format radio">
    <label><b>Reservations:</b></label>
    <div>
    <div class="col-xs-2">
    	Yes
    	<%= radio_button_tag(:reservations, "yes", html:"class:reservations") %>
    </div>
    <div>
    	No
    	<%= radio_button_tag(:reservations, "no") %>
  	</div>
	</div>
  </div>

  <div class="form-format">
    <label>Why is this a good place for big groups?</label>
    <%= text_area_tag(:desc, nil, size: "40x5") %>
  </div>

  <div class="form-format">
    <label>Website URL:</label>
    <%= text_field_tag(:url) %>
  </div>

  <% if @photo.errors.any? %>
    <ul class="list-unstyled text-danger">
      <% @venue.errors.full_messages.each do |msg| %>
        <li><strong><%= msg %></strong></li>
      <% end %>
    </ul>
  <% end %>

  <div class="form-format">
    <label>Photo URL(s): Please enter at least one URL with a comma between each</label>
    <%= text_area_tag(:photo_urls, nil, size: "40x5"	) %>
  </div>

  <%=submit_tag "Submit", class: "btn btn-success edit-btn"%>

<% end %>