<head>
  <%= stylesheet_link_tag    'venues', media: 'all', 'data-turbolinks-track' => true %>
</head>

<div id = "my-header" class = "col-xs-12 center">
	<div id="header-background">
		<h1>Places you've saved for later.</h1>
	</div>
</div>

<% if @saves.count > 0 %>
  <table class='table table-striped'>
    <thead>
      <tr>
        <th>Name</th>
        <th>City</th>
        <th>Neighborhood</th>
        <th>Cuisine</th>
        <th>Likes</th>
        <th></th>
      </tr>
    <tbody>
      <% @saves.each do |save| %>
      	<% venue = Venue.find_by_id(save.venue_id) %>
        <tr>
          <td><%= link_to venue.name, "/venues/#{venue.id}" %></td>
          <td><%= venue.city %></td>
          <td><%= venue.neighborhood %></td>
          <td><%= venue.cuisine %></td>
          <td><%= venue.likes.count %></td>
          <td><%= link_to "Remove", "/holds/#{venue.id}", :method => "delete", data: {confirm: "Are you sure?"} %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

<% else %>

  <div class="center">
    <h4>You haven't saved any venues for later.</h4>
  </div>

<% end %>