<!DOCTYPE html>
<html>
<head>
  <title>Final</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js' %>
  <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" %>

  <%= csrf_meta_tags %>
</head>
<body>
	<div class="wrapper">
		<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" style="margin-right:30px;" href="/">BigGroups.co</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Select City <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <% cities = Venue.select(:city).group(:city) %>
            <% cities.each do |city_group| %>
              <li><a href="/?city=<%=city_group.city%>"><%=city_group.city%></a></li>
            <% end %>
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-left" role="search" action="/">
        <div class="form-group">
          <input value="<%= params[:keyword] %>" name="keyword" type="text" class="form-control" id="search-form" placeholder="Search venues or neighborhoods">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <% if session[:user_id] %>
          <li><a href="/venues/saved">Saved</a></li>
          <li><a href="/venues">My Venues</a></li>
          <li><a href="/users/<%= session[:user_id] %>">My Account</a></li>
          <li><a href="/logout">Log Out</a></li>
        <% else %>
          <li><a href="/users/new">Sign Up</a></li>
          <li><a href="/sessions/new">Sign In</a></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
		<div class="container" id="body-container">
      <% if flash[:notice].present? %>
        <div class="alert alert-info">
          <%= flash[:notice] %>
        </div>
      <% end %>

			<%= yield %>
		</div>
		</div>
		<nav class="navbar navbar-default navbar-bottom center" style="margin-bottom: 0px;">
  		<div class="container">
  			&copy; BigGroups.co
  		</div>
	</nav>
</body>
</html>
